<% @page_title = t(:change_password) %>

<div class="pageTitle">
  <p style="text-align: center"><font color="#191970">
  <%= t(:change_password) %></font></p>
</div>

  <%= form_tag('/users/update_password', :method => :post) do %>
  <table class="table">
    <tr>
      <td class="caption"><label for="name"><%= label_tag(:old_password, t(:old_password)) %>:</label></td>
      <td class="data"> <%= password_field_tag(:old_password, nil, :maxlength => 255, :size => 30)  %> </td>
    </tr>    
    <tr>
      <td class="caption"><label for="name"><%= label_tag(:new_password, t(:new_password)) %>:</label></td>
      <td class="data"> <%= password_field_tag(:new_password, nil, :maxlength => 255, :size => 30) %> </td>
    </tr>
    <tr>
      <td class="caption"><label for="name"><%= label_tag(:confirm_password, t(:confirm_password)) %>:</label></td>
      <td class="data"> <%= password_field_tag(:confirm_password, nil, :maxlength => 255, :size => 30) %> </td>
    </tr>
    <tr>
      <td colspan="2" class="button"> <div style="float:right"><%if  session[:user_id]!=nil && User.find(session[:user_id].to_i).usertype == "Visitor" %>

      <%end%>


        <tr>
        <td class="buttons" colspan="2">

          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit"class="btn btn-success"><%="Save" %></button>
        </td>
        </tr>

      </div></td>

    </tr>




  </table>
  <script type="text/javascript">
    var input = $("#old_password");
    if (input != null && input != undefined) {
      input.focus();
    }
  </script>
  <% end %>

