<% @page_title = t(:users) %>

<div class="pageTitle">
  <p style="text-align: center"><font color="#191970"><%= t :users %></div></font></p>
<div class="grid">
  <%=link_to("Add User",{:controller=>'users',:action=>'new'},:class=>"btn btn-primary")%>
  <table class="table table-hover" >
		<tr>
			<td class="title">#</td>
			<td class="title"><%= t :username %></td>
			<td class="title"><%= t :name %></td>
			<td class="title"><%= t :type %></td>
			<td class="title"><%= t :create_at %></td>
			<td class="title"><%= "Last Updated" %></td>
			<td class="title"><%= t :actions %></td>
		</tr>
		<% index = 0 %>
		<% @users.each do |user| %>
		<% index += 1 %>
		<% class_name = index % 2 == 0 ? 'even' : 'odd' %>
		<tr class='<%= class_name %>'>
			<td class="index"><%= index %></td>
			<td><%= user.username %></td>
			<td><%= user.name %></td>
			<td><%= user.usertype %></td>
			<td><%= user.created_at.to_s(:short) %><font color="red"><%="   by  " %></font><%= user.author %></td>
			<%if user.update_author == nil%>
              <td>----</td>
              <%else%>
                 <td><%= user.updated_at.to_s(:short) %><font color="red"><%="   by  " %></font><%= user.update_author %></td>
              <%end%>

			<td class="actions">
                <%= link_to("info", {:action => 'show', :id => user.id}) %>
                |
                <%= link_to(t(:edit), {:action => 'edit', :id => user.id}) %>
				|
				<%= link_to(t(:reset_password), {:action => 'reset_password', :id => user.id}) %>
				|
                <%= link_to(t(:delete), {:action => 'delete', :id => user.id} ,{:class=> 'btn-delete'}) %>
			</td>
		</tr>
		<% end %>
		<tr>
		  <td colspan="8" class="pagination">
		    <%= will_paginate @users, :previous_label => t(:previous), :next_label => t(:next) %>
		  </td>
		</tr>
	</table>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Delete Data Center</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<script>
    $(function(){
        $('.btn-delete').click(function(e){

            $('#myModal').modal('show');
            $('#myModal .modal-body').load($(this).attr("href")+"?nolayout=1");
            e.preventDefault();
        });


    });
</script>
</div>
