<table table class="table table-hover">
  <tr >
    <td class="caption"><label for="name"><%= f.label("Device Name") %>:</label></td>
    <td class="data"> <%= f.text_field(:device_name, :maxlength => 255, :size => 30)  %> </td>
  </tr>
  <%if @devicetype.host_name%>
      <tr >
    <td class="caption"><label for="name"><%= f.label("Hostname") %>:</label></td>
    <td class="data"> <%= f.text_field(:host_name, :maxlength => 255, :size => 30)  %> </td>
  </tr>
      <%end%>
  <%if  @devicetype.operating_system%>
      <tr>
        <td class="caption"><label for="name"><%= f.label("Operation System ") %>:</label></td>
        <td class="data"><%= f.text_field(:operating_system,:maxlength => 255, :size => 30)  %> </td>
      </tr>
  <%end%>
  <%if @devicetype.platform%>
      <tr>
    <td class="caption"><label for="name"><%= f.label("Platform") %>:</label></td>
    <td class="data"> <%= f.select(:platform, options_for_select(["x64-bit","x32-bit"]))  %>  </td>
  </tr>
      <%end%>
  <%if  @devicetype.model%>
      <tr >
    <td class="caption"><label for="name"><%= f.label("Model") %>:</label></td>
    <td class="data"> <%= f.text_field(:model, :maxlength => 255, :size => 30)  %> </td>
  </tr>
  <%end%>
  <%if  @devicetype.serial_number%>
      <tr>
    <td class="caption"><label for="name"><%= f.label(:serial_number) %>:</label></td>
    <td class="data"> <%= f.text_field(:serial_number, :maxlength => 255, :size => 30)  %> </td>
  </tr>
  <%end%>
  <%if  @devicetype.warranty%>
      <tr >

      <td class="caption"><label for="name"><%= f.label(:warranty) %>:</label></td>
    <td class="data"> <%= f.date_select(:warranty, :prompt => { :day => t(:day), :month => t(:month), :year => t(:year) })  %> </td>
  </tr>
  <%end%>
  <%if  @devicetype.location%>
      <tr >
    <td class="caption"><label for="name"><%= f.label(:location) %>:</label></td>
    <td class="data"> <%= f.text_field(:location, :maxlength => 200, :size => 30)  %> </td>
  </tr>
  <%end%>
  <%if  @devicetype.application%>
      <tr >

      <td class="caption"><label for="name"><%= f.label(:application) %>:</label></td>
    <td class="data"> <%= f.text_field(:application, :maxlength => 100, :size => 30)  %> </td>
  </tr>
  <%end%>
  <%if  @devicetype.username%>
      <tr >
    <td class="caption"><label for="name"><%= f.label(:username) %>:</label></td>
    <td class="data"> <%= f.text_field(:username, :maxlength => 200, :size => 30)  %> </td>
  </tr>
  <%end%>
  <%if  @devicetype.password%>
  <tr >
  <td class="caption"><label for="name"><%= f.label(:password) %>:</label></td>
    <td class="data"> <%= f.text_field(:password, :maxlength => 200, :size => 30)  %> </td>
  </tr>
  <%end%>
  <%if  @devicetype.remarks%>
  <tr>
    <td class="caption"><label for="name"><%= f.label(:remarks) %>:</label></td>
    <td class="data"> <%= f.text_area(:remarks, :maxlength => 200, :cols => 50, :rows => 10)  %> </td>
  </tr>
  <%end%>
  <tr >

  <td class="buttons" colspan="2">
      <%= link_to(t("Cancel"), {:action => 'list', :id => @device.subnet.id}, :class=>"btn btn-warning") %>
      <button type="submit" class="btn btn-success"> <%= "Save" %></button>
      <% if @device.id %>
      <% end %>
    </td>
  </tr>
</table>
<script type="text/javascript">
    var input = $("#server_server_name");
    if (input != null && input != undefined) {
        input.focus();
    }
</script>