<% @page_title = "Interface" %>
<div style="text-align: center">
  <img border="0" src="/assets/Logo.JPG" alt="Data Center" width="200" height="100" >
</div>

<div style="text-align: center"><font color="#191970">
  <%= "Interfaces" %> <%= "of" %> <%= @device.device_type %> <%= "("%> <%=@device.device_name %> <%=")" %>
</font></div>
  <table class="table table-hover">


    <tr>
      <td class="title"><%= "Physical label" %>:</td>
      <td><%= @interface.physical_label %></td>
    </tr>

    <tr>
      <td class="title"><%= "Name" %>:</td>
      <td><%= @interface.interface_name %></td>
    </tr>
    <tr>
    <td class="title"><%= " IP Address " %>:</td>
    <td><%= @interface.ip_add %></td>
  </tr>
    <tr>
      <td class="title"><%= " Netmask " %>:</td>
      <td><%= @interface.net_mask %></td>
    </tr>
    <tr>
      <td class="title"><%= " Default Getaway " %>:</td>
      <td><%= @interface.def_getaway %></td>
    </tr>
    <tr>
      <td class="title"><%= " preferred DNS " %>:</td>
      <td><%= @interface.pre_dns %></td>
    </tr>
    <tr>
      <td class="title"><%= " Alternative DNS " %>:</td>
      <td><%= @interface.alter_dns %></td>
    </tr>
    <tr>
      <td class="title"><%= " Hardware Address " %>:</td>
      <td><%= @interface.hw_add %></td>
    </tr>
    <tr>
      <td class="title"><%= "remarks" %>:</td>
      <td><%= @interface.remarks %></td>
    </tr>
    <tr>
      <td class="title"><%= "Created" %>:</td>
      <td><%= @interface.created_at.to_s(:long) %><font color="red"><%= "by" %></font><%= @interface.author %></td>
    </tr>
    <tr>
      <td class="title"><%= "Last updated" %>:</td>
      <%if @interface.update_author== nil%>
          <td>----</td>
        <%else%>
          <td><%= @interface.updated_at.to_s(:long) %><font color="red"><%= "by" %></font><%= @interface.update_author %></td></td>
        <%end%>
    </tr>

  </table>

  <%if  session[:user_id]!=nil && User.find(session[:user_id].to_i).usertype != "Visitor" %>

    <%= link_to("Close", {:controller => 'device',:action => 'list', :id => @device.subnet.id}, :class => "btn btn-danger") %>



  <%end%>
  <script type="text/javascript">

      $(document).ready(function() {
          try {
              $('span#password').css('background-color', 'black');
              $('span#password').css('border-radius', '3px');
              $('span#password').css('cursor', 'default');

              $('span#password').mouseenter(function() {
                  $('span#password').css('background-color', 'transparent');
              });

              $('span#password').mouseout(function() {
                  setTimeout("$('span#password').css('background-color', 'black');", 1000);
              });
          } catch (e) {
              console.log(e);
          }
      });



  </script>
</div>
<%if  session[:user_id]!=nil && User.find(session[:user_id].to_i).usertype == "Visitor" %>
    <div class="Third_links">
      <br>
      <%= link_to("Back",{:controller => 'subnets', :action => 'view_user'},:class=>"button")%>
    </div>
<%end%>